.editor {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 2rem;
    font-weight: 600;
}

.input {
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 40rem;
    text-align: left;
    margin-top: 1.5rem;
    padding: 1.5rem 0 1.5rem 1.5rem;
    background-color: black;
    color: white;
    outline: none;
    font-family: Verdana, Arial, sans-serif;
    line-height: 1.6;
    border-radius: 0 0.75rem;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.5);
}
